<div class="survey">
  <h1><%= @survey.title %></h1>
  <h3><%= @survey.description %></h3>
  <form method="post" action="/survey/<%= @survey.id %>/take">
    <% @survey.questions.each do |question| %>
      <ul><%= question.inquisition %></ul>
      <% question.options.each do |option| %>
        <li><input type="radio" name="option[<%= question.id %>]" value="<%= option.id %>">
          <%= option.choice %></li>
      <% end %>
    <% end %><br>
    <input type="submit" value="Submit!">
  </form>
</div>
